@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins';
}
body {
    background-image: url("../img/background-image.png");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins';
}


#logo{
    width: 503px;
    height: 90px;    
    margin-right: 25%;
    font-size: 30px;  
}

#container,.game-painel{
    float: left;
    display: flex;
    gap:20px;    
}
#home-game{
    width:1000px;
    height: 500px;
}
#home-logo img{
    width: 600px;
    height:350px;
}
#home-game{
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:200px;
}
#homeWithButtons{
    display: flex;
    flex-direction: column;
    gap:30px;
}
#cta-button,#back-to-game,#back-to-home{
    background-color: #9e00ff;
}
#cta-button:hover, #back-to-game:hover,#back-to-home:hover{
    border: 2px solid #F8BD0A;
    color:#F8BD0A;
}

#help-icon{
    
    position:absolute;
    top:300px;
    left:500px;
}
.home-buttons{
    width: 494px;
    height: 94px;
    border: transparent;
    border-radius: 25px;
    background-color: #8E6BBF;
    color: #FFFFFF;
    font-size: 2.5rem;
    align-self: center;
}

#start-game{
    width: 494px;
    height: 94px;
    border-radius: 25px;
    background-color: #9e00ff;
    color: #FFFFFF;
    font-size: 2.5rem;
    align-self: center;
    float: left;
    z-index: 0;
}

#child{
    margin-top: -10%;
    z-index: 1;
}
.title{
    margin:20px;
}
#child-instructions{
    display: flex;
    justify-content: center;
}
#child-instructions p{
    margin-left:60px;
    width: 400px;
    height: 250px;
    font-size:32px;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
}

#back-to-game,#back-to-home{
    width:250px;
    height: 50px;
    border: transparent;
    border-radius: 25px;
    font-size:32px;
    align-self: flex-end;
    margin-left:60px;
    margin-bottom: 140px;
}
#back-to-home{
    width: 400px;
    height: 60px;
    color:#FFFFFF;
}
#img-salute-child, #img-dancing-child{
    width: 300px;
    height: 300px;
    justify-self:flex-end;
    
}

#btn{
    margin-top: 10%;
}

/**css-instruções****/
#container-instructions,#game-win{
    width: 791px;
    height: 550px;   
    text-align: center;
    font-size: 36px;
    background-color: #AE8FD9;
    border:solid 20px;
    border-radius:5px;
    border-color:#111440;
}
#game-win{
    width: 850px;
    height: 700px; 
}


/*****food****/

#container-foods{
    display:flex;
    flex-wrap: wrap;
    width: 730px;
    height: 750px;
    text-align: center;
    font-size: 36px;
    background-color: #AE8FD9;    
    border-radius:10px;
    justify-content: center;
    align-items: center;
    gap:10px;
   
}

#draggable, #draggable2{
    background-color: transparent;
    border: transparent;
  }
#right-painel{
      display:flex;
      flex-direction: column;
      align-items: center;
      gap:20px;    

}
#info-painel{
    display:flex;
    align-items: center;
    gap:60px;
    width:478px;
    height:151px;
    background-color: #AE8FD9;
    border-radius: 10px;
    justify-content: center;
}
#droppable{
    display: flex;
    width:478px;
    height:580px;
    background-color: #AE8FD9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}
.animation-child{
    align-self: center;
    width:200px; 
    height:300px;
}
#img-hungerChild{
    width:500px;
    height:450px;
}
/***menu-de-instruções***/
.column {
    width: 50px; 
    float: left;
    padding-bottom: 100px;
    z-index: 3;
    margin-left: -12%;
  }
 .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
   position: relative;
    font-size: small;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
 .portlet-content {
    padding: 0.4em;
    font-size: small;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
  .game-win-content{
    display:flex;
    flex-direction: column;
    gap:40px;
    align-items: center;
  }
  .title .show-score{
      color: #F8BD0A;
  }
/*animations*/
.invisible{
    display: none;
}
.absolute-with-z-index{
    position: absolute;
    z-index: 10;
}
.relative-with-blur {
    z-index: 0;
    filter: blur(8px);
}